@charset "UTF-8";

:root{
    --fundo-principal: #e4e4e4;
    --destaque: #ffffff;
    --texto: rgb(49, 48, 48);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--fundo-principal);
    color: var(--texto);
}

input{
    cursor: pointer;
}

header > input, footer > input{
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-left: auto;

}

header{
    background-color: var(--destaque);
    display: flex;
    max-width: 500px;
    padding: 10px;
    margin: 15px;
}

header > input{
    background-color: green;
    border: none;
    flex: 0 0 none;
}

#alimentos, #bebidas, #limpeza, #outros{
    background-color: var(--destaque);
    max-width: 500px;
    margin: 15px;
}

div#alimentos > h2{
    background-color: green;
    color: white;
}

div#bebidas > h2{
    background-color: orangered;
    color: white;
}

div#limpeza > h2{
    background-color: aquamarine;
    color: white;
}

div#outros > h2{
    background-color: gray;
    color: white;
}

div > h2{
    padding: 5px;
}

div#criar{
    background-color: var(--destaque);
    color: var(--texto);
}

footer{
    background-color: var(--destaque);
    display: flex;
    padding: 10px;
    margin: 15px;
    max-width: 500px;
}

footer > input{
    background-color: red;
    border: none;
    text-align: end;
}