@charset "UTF-8";

:root{
    --fundo-principal: #e4e4e4;
    --destaque: #ffffff;
    --texto: rgb(49, 48, 48);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--fundo-principal);
    color: var(--texto);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, button{
    cursor: pointer;
}

header > input{
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-left: auto;

}

header{
    background-color: var(--destaque);
    display: flex;
    max-width: 500px;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

header > input{
    background-color: green;
    border: none;
    flex: 0 0 none;
}

#alimentos, #bebidas, #limpeza, #outros{
    background-color: var(--destaque);
    max-width: 500px;
    margin: 15px;
}

div#alimentos > h2{
    background-color: chartreuse;
    color: white;
}

div#bebidas > h2{
    background-color: darkorange;
    color: white;
}

div#limpeza > h2{
    background-color: mediumaquamarine;
    color: white;
}

div#outros > h2{
    background-color: gray;
    color: white;
}

div > h2{
    padding: 5px;
}
div#criar{
    background-color: var(--destaque);
    color: var(--texto);
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 450px;
    height: 175px;
    display: none;
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    text-align: start;
}

div#criar > input{
    border: none;
    background-color: red;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

div#criar > h3{
    color: var(--texto);
    font-size: 1.7em;
}

div#criar > form > label{
    color: var(--texto);
    font-size: 17px;
}

div#criar > form > input#nome, div#criar > form > select{
    background-color: var(--fundo-principal);
    border: 1px solid black;
}

div#criar > form > input#adicionar{
    border: none;
    background-color: green;
    padding: 5px;
    color: white;
    margin-top: 15px;
}

div{
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.466);
}

div> div{
    box-shadow: none;
    padding: 3px;
    color: var(--texto);
    background-color: var(--destaque);
    font-size: 17px;
}

div > div > button{
    padding: 3px 6px 3px 6px;
    border-radius: 50%;
    background-color: red;
    font-weight: bolder;
    border: none;
}